@font-face {
    font-family: "Gilroy-Light";
    src: url(/font/Gilroy-Light.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(/font/Gilroy-Bold.woff);
    font-style: bold;
    font-weight: 700;
}

html {
    font-family: 'Gilroy-Bold';
    font-weight: 700;
}

.container {
    max-width: 1440px;
}

.navi__menu {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.logo {
    margin-top: 57px;
}

.menu__list {
    display: flex;
    gap: 0 58px;
    margin-top: 111px;
}

body {
    background-color: #F7EFED;
}

.search__block {
    position: relative;
    margin-top: 85px;
    margin-right: 100px;
    width: 386px;
    height: 74px;
}

.search {
    font-family: 'Gilroy-Light';
    border-radius: 37px;
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 85px;
}

.search::placeholder {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}

.search_icon--search {
    display: block;
    position: absolute;
    left: 30px;
    top: 17px;
}

.search_icon--bag {
    display: block;
    position: absolute;
    right: 30px;
    top: 17px;
}

.container__info {
    display: flex;
    justify-content: space-between;
}

.info__textblock {
    position: relative;
    width: 590px;
    margin-left: 95px;
    margin-top: 94px;
}

.title__info {
    display: block;
    font-size: 80px;
}

.paper__img {
    position: absolute;
    right: 58px;
    top: 0;
}

.info__subtitle {
    font-family: 'Gilroy-Light';
    font-size: 25px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}

.chips__img {
    display: block;
    position: absolute;
    top: 207px;
    left: 665px;
    z-index: 1;
}

.chips__shadow {
    opacity: 0.6;
    filter: blur(50px);
    display: block;
    position: absolute;
    top: 233px;
    left: 665px;
    z-index: 0;
}

.info__verb {
    margin-right: 110px;
}

.list__1 {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.chill__img {
    display: block;
}

.info__verb--title {
    display: block;
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.button__form {
    margin-left: 100px;
}

.add__btn {
    display: block;
    border-radius: 38px;
    width: 245px;
    height: 76px;
    background-color: #000;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.rectangle__cart {
    margin: 0;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 209, 84, 1) 0%, rgba(255, 201, 54, 1) 100%);
}

.img__cart {
    width: 28px;
    height: 28px;
    margin: 17px;
}

.btn__title {
    position: absolute;
    top: 26px;
    left: 93px;
    font-family: 'Gilroy-Bold';
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}

.btn__add--qty {
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    font-size: 30px;
    font-family: 'Gilroy-Light';
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.08));
}

.button__block {
    max-width: 245px;
    max-height: 75px;
    margin-right: 52px;
}

.inc__dec--block {
    display: flex;
    max-width: 229px;
}

#form__qty {
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.form__block {
    align-items: center;
    position: relative;
    display: flex;
}

.rectangle__input {
    box-sizing: border-box;
    align-items: center;
    width: 62px;
    height: 62px;
    border: 2px solid black;
    border-radius: 50%;
}

.increment__cart {
    margin-right: 15px;
}

.decrement__cart {
    margin-left: 15px;
}

.add__qtty {
    display: block;
}